
*.ipch
*.db
.vs/threadedDirSearch/v15/.suo
*.user
threadedDirSearch/threadedDirSearch.vcxproj
threadedDirSearch/threadedDirSearch.vcxproj.filters
*.obj
*.tlog
*.log
*.pch
*.codeanalysisast
*.idb
*.pdb
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
x64/Debug/threadedDirSearch.exe
threadedDirSearch.sln
